/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$color-blue: #007bff;
$color-gray: rgba(255, 255, 255, 0.5);

.tooltip-custom-class {
  margin-bottom: 10px;
}

.tooltip-custom-class .tooltip-inner {
  background-color: $color-blue;
  font-size: 125%;
}

.tooltip-custom-class .arrow::before {
  border-top-color: $color-blue;
}

body {
  height: 100vh;
  // overflow-y: hidden;
}

.jumbotron {
  // height: 90vh;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dee0e6;
}

::-webkit-scrollbar-thumb:hover {
  background: #4772ff;
}
