.panel-container {
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: transparent;
    padding: 16px;
    display: grid;
}

.panel-handler {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -5px;
    left: -13px; // icon alignment with content edge
}

.panel-header {
    width: 100%;
    text-align: left;

    &.expanded {
        padding-bottom: 24px;
    }
}

.header-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.panel-handler:focus {
    outline: none;
}

.expansive {
    .header-title {
        margin-left: -6px; // title alignment according to the icon
    }

    .clickable-area {
        float: left;
        cursor: pointer;
        padding-right: 16px;
        padding-left: 0;
    }

    .panel-body>div {
        padding: 12px 6px 16px 6px;
    }
}
