<div class="row m-0">
  <div class="col-10 offset-1 block">
    <div class="wrapper-progressBar">
      <ul class="progressBar">
        <li *ngFor="let step of steps index as i" [ngStyle]="{'width.%': 100 / steps.length }"
            [class.active]="review.status - 1 >= i" [class.current]="review.status - 1 == i"
            [class.next]="review.status - 1 + 1 == i" [class.final]="i == steps.length - 1 && review.status == steps.length">
          <i *ngIf="review.status - 1 > i || i == steps.length - 1 && review.status == steps.length" class="fa fa-check"></i>
          <p class="font-weight-bold">{{ step.id }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
