.vertical-line {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 10px;
}

.progress-cloud {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  & .center {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  & .icon {
    width: 80px;
    height: 80px;
    z-index: 1002;
    background-size: contain;
  }

  & .spinner {
    position: absolute;
    right: -12px;
    top: -9px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    z-index: 1001;
  }
}
